{% extends 'base.html' %}
{% block content %}
<body>
    <div class="row header">
        <img class="row-1 logo_img" src="{{ url_for('static', filename='img/shark.png') }}"/>
        <div class="row-1 logo_word">Korean FISH<br/>Korean Fast and Interactive Style Handler</div>
        
    </div>
    <div class="body">
        <div class="input">
            <button type="button" class="btn btn-dark">번역하기</button>
        </div>
        
        <div class="output"></div>
        
    </div>
</body>
</html>

{% endblock %}